.wrapper-main{
  width:100%;
  height: 100%;
  background-color:#2b2b2b;
  font-family: 'Sawarabi Mincho', sans-serif;
  .wrapper-top{
    width:800px;
    margin:0 auto;
    img{
      width:800px;
      height: 300px;
    }
  }
  .wrapper-article{
    width:800px;
    padding-bottom:100px;
    margin:0 auto;
    background-color:#d3d3d3;
    h3{
      font-size:28px;
      margin-left:20px;
      padding-top:20px;
    }
    &__list{
      float:left;
      width:500px;
      background-color:#939393;
      margin: 20px 0 0 20px;
      ul{
        li{
          width:480px;
          height:50px;
          border-bottom:2px solid black;
          position: relative;
          padding:0 10px;
          &:hover{
        background-color:#e14024;
         }
          a{

            font-size:22px;
            line-height: 1.5;
            text-decoration: none;
            color:black;
            display: inline-block;
            &:hover{
              color:white;
              font-size:22px;
            }
          }
          i{
            display: inline-block;
            color:#483d8b;
            margin-right:5px;
          }
        }
      }
    }
    &__side{
      float:right;
      padding:20px;
      width:210px;
      background-color:#9e8b8e;
      margin:20px 20px 0 0;
      h4{
        font-size:23px;
      }
      nav{
        ul{
          li{
             border-bottom:1px solid black;
             height: 30px;
             padding:5px 8px;
             position: relative;
             .num{
              position: absolute;
              top:10px;
             }
             .title{
              position:absolute;
              top:10px;
              left:50px;
              a{
                color:black;
                text-decoration: none;
                &:hover{
                  color:red;
                }
              }
             }
          }
        }
      }
    }
    .pagination{
      width:400px;
      padding-top:30px;
      margin:0 auto;
      font-size:25px;
      span{
        background-color: black;
         padding:10px;
         margin:0 10px;
         color:white;
         border-radius: 10%;
      }
      a{
        text-decoration: none;
        color:white;
        &:hover{
          color:red;
        }
      }
    }
  }
}
.clearfix{
  content:"";
  clear:both;
  display: block;
}








.smoky:hover{
  display: inline-block;
  text-shadow: 0 0 0 whitesmoke;
  animation: smoky 3s 3s both infinite;
}

span:nth-child(even){
  animation-name: smoky-mirror;
}

@keyframes smoky {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    transform:
      translate3d(15rem,-8rem,0)
      rotate(-40deg)
      skewX(70deg)
      scale(1.5);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@keyframes smoky-mirror {
  60% {
    text-shadow: 0 0 40px whitesmoke; }
  to {
    transform:
      translate3d(18rem,-8rem,0)
      rotate(-40deg)
      skewX(-70deg)
      scale(2);
     text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@for $item from 1 through 21 {
  span:nth-of-type(#{$item}){
    animation-delay: #{(3 + ($item/10))}s;
  }
}

//ブルブル
.buruburu:hover {
    display: inline-block;
    animation: hurueru .1s  infinite;
}

@keyframes hurueru {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(2px, 2px) rotateZ(1deg)}
    50% {transform: translate(0px, 2px) rotateZ(0deg)}
    75% {transform: translate(2px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}
// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
