header{
  background-color:#333333;
  width:100%;
  height: 80px;
  color:white;
  .header-wrapper{
  height: 80px;
  margin:0 auto;
  padding-top:25px;
    .logo{
      font-size:30px;
      float:left;
      color:white;
      text-decoration: none;
      margin-left:20px;
    }
    a{
      font-size:20px;
      float:right;
      color:white;
      margin-right:20px;
      text-decoration: none;
      font-family:'Sawarabi Mincho', sans-serif;
      &:hover{
        color:red;
      }
    }
  }
}

